
/*
h1{
   margin: 150px;
    
}
body{
    font-size: 36px;
    width:100%;
height: 100vh;
background-color:palevioletred ;
background-image: url('pillow.jpg');
background-repeat: no-repeat;
background-size: 100px 100px;
background-position: top right;
}
*/
.Parent {
  width: 1000px;
  height: 650px;
  color: #fff;
  background: linear-gradient(to right, #514a9d,#24c6dc);
  box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
  border-radius: 15px;
  margin-left: 200px;
  position: relative;
 }
.child {
  width: 150px;
  height: 150px;
  background: linear-gradient(to right ,#93edc7,#1cd8d2);
  box-shadow: rgba(100,100,111,0.2)0px 7px 29px 0px;
  display: grid;
  place-items: center;
  font-size: 32px;
  color: #003180;  
}
/*
.child:nth-child(2),
.child:nth-child(4) {
  background: linear-gradient(to right,#3cd3ad,#4cb8c4);
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px; 
} */
.child{
  position: absolute;
}

.child-2 {
  top: 0;
  right: 0;
}
.child-3{
bottom: 0;
right: 0;
}
.child-4 {
  bottom: 0;
}
.child-5 {
  right: 425px;
    top: 250px;
}


/*
h3{
    font-size: 4px;
    font-size: 3rem;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration: dotted;
}


li{
  font-size:24 ; 
  letter-spacing: 1.2px;
  word-spacing: normalpx;
  line-height: 1.55;
}


.new{
    border: 10px solid black;
  border-radius: 50px;
  margin: 20px;
}



.my{
  padding: 30px;
  border: 15px solid #337ccf;
  
 


}
.my {
  width: 900px;
  margin-right: 20px ;
  background-color: #0f2c59;
  box-sizing:border-box ; }
    radial gradient
  background-image: linear-gradient(to top right
  , rgba(5,25,55,0.9),
  rgba( 0,77,122,0.9),
  rgba(0,135,147,0.9),
  rgba(0,191,114,0.9),
  rgba(168,235,18,0.9)),
url('pillow.jpg');
}

.shadow{
  
  width: 300px;
  height: 300px;
  padding: 40px;
  background-color: blue;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 20px whitesmoke;
}
img {
  filter: grayscale();
  filter: brightness(80%);
  
  
}

  /*ul{
  width: 200px;
  height: 200px;
  padding: 40px;
  margin-bottom: 10px;
  border: 2px solid purple;
  list-style-type: disc;
}
.Subs a:link{
  background-color: white;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold 
}

.Subs a:hover{
  color: green;
}
.Subs a:active {
  color: white;
}
  * {
margin: 0;
padding: 0;
box-sizing: border-box;

} 
ul p{
  color: blue;
   }
   .combinators > ul > li{
    color: brown;
  
   } 
   */